.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 2px solid, black;
  background-color: rgb(100, 60, 7);
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

Link {
  text-decoration: none;
}

h1 {
  color: lemonchiffon;
}

button {
  margin-right: 30px;
  font-family: "Noto Color Emoji", sans-serif;
}

.navbar h1 {
  font-family: "Cinzel Decorative", serif;
  margin-left: 20px;
  animation: logo-spin infinite 20s linear;
}

.navbar h1:hover {
  color: rgb(42, 25, 3);
  animation:none

}

button:hover {
  background-color: lemonchiffon;
  color: rgb(42, 25, 3);
}

span {
  font-family: "Noto Color Emoji", sans-serif;
  margin: 10px;
}

.h2Link:hover {
  border: 1px solid lemonchiffon;
  background-color: blanchedalmond;
  border-radius: 45px;
}

.h2Link {

  font-family: "Noto Color Emoji", sans-serif;
  margin: 10px;
}


span{
    color:lemonchiffon;
    font-family: 'Kanit', sans-serif;
    ;
}

@keyframes logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }